Repository CraftsmenLtd/BloodConnect, pull requests merged in 2024-12, with the labels that each got.

#272 I166 don't send device register call multiple times
  .gitignore
  clients/mobile/.env.example
  clients/mobile/__tests__/authentication/authService.test.ts
  clients/mobile/package.json
  clients/mobile/src/authentication/services/authService.ts
  clients/mobile/src/setup/constant/token.ts
  clients/mobile/src/setup/notification/saveDeviceToken.ts
  clients/mobile/src/userWorkflow/Profile.tsx
  clients/mobile/src/utility/deviceRegistration.ts
  clients/mobile/src/utility/storageService.ts
Labels: mobile

#279 I-#251 preview and production apk config missing issue
  clients/mobile/.env.example
  clients/mobile/Makefile
  clients/mobile/app.config.ts
  clients/mobile/package.json
Labels: mobile

#281 I-#252 exposure of contact number warning added
  clients/mobile/src/authentication/register/UI/Register.tsx
  clients/mobile/src/components/warning/index.tsx
  clients/mobile/src/donationWorkflow/createUpdateDonation/Donation.tsx
  clients/mobile/src/setup/constant/consts.ts
  clients/mobile/src/setup/theme/darkTheme.ts
  clients/mobile/src/setup/theme/index.ts
  clients/mobile/src/setup/theme/lightTheme.ts
Labels: mobile

#274 I 245 account page on mobile app
  clients/mobile/App.tsx
  clients/mobile/src/components/button/Button.tsx
  clients/mobile/src/components/loaders/loader.tsx
  clients/mobile/src/components/loaders/loaderHOC.tsx
  clients/mobile/src/donationWorkflow/donationPosts/DonationPosts.tsx
  clients/mobile/src/donationWorkflow/donationPosts/donorResponse/hooks/useResponseDonationRequest.ts
  clients/mobile/src/setup/constant/commonUrls.ts
  clients/mobile/src/setup/constant/screens.ts
  clients/mobile/src/setup/navigation/BottomNavigation.tsx
  clients/mobile/src/setup/navigation/Navigator.tsx
  clients/mobile/src/setup/navigation/navigationTypes.ts
  clients/mobile/src/setup/navigation/routes.ts
  clients/mobile/src/setup/notification/NotificationProvider.tsx
  clients/mobile/src/setup/notification/useNavigationReady.ts
  clients/mobile/src/userWorkflow/account/UI/Account.tsx
  clients/mobile/src/userWorkflow/account/UI/createStyle.tsx
  clients/mobile/src/userWorkflow/account/hooks/useAccount.ts
  clients/mobile/src/userWorkflow/personalInfo/UI/AddPersonalInfo.tsx
  commons/dto/UserDTO.ts
Labels: mobile, Blockers

#294 I 253 BACK END cancel post
  core/services/aws/bloodDonation/cancelBloodDonation.ts
  iac/terraform/aws/donation/lambdas.tf
  openapi/components/schemas/donations/cancel-donation-request.json
  openapi/integration/aws/donations/patch-cancel-donation.json
  openapi/paths/donations/cancel.json
  openapi/versions/v1.json
Labels: enhancement

#297 296 Handle undefined value during DynamoDB update
  core/application/bloodDonationWorkflow/BloodDonationService.ts
  core/application/models/dbModels/AcceptDonationModel.ts
  core/application/models/dbModels/BloodDonationModel.ts
  core/application/models/dbModels/DonationNotificationModel.ts
  core/application/tests/technicalImpl/dbModels/BloodDonationModel.test.ts
  core/services/aws/bloodDonation/completeDonationRequest.ts
Labels: bug

#299 I-#253 User can cancel his/her donation request
  clients/mobile/app.config.ts
  clients/mobile/src/components/donation/PostCard.tsx
  clients/mobile/src/components/donation/Posts.tsx
  clients/mobile/src/components/toast/index.tsx
  clients/mobile/src/components/toast/useToast.ts
  clients/mobile/src/donationWorkflow/donationService.ts
  clients/mobile/src/myActivity/MyActivityTab.tsx
  clients/mobile/src/myActivity/myPosts/details/Detail.tsx
  clients/mobile/src/myActivity/useMyActivity.ts
Labels: mobile

#300 I-#285 create post page scrolling issue fix
  clients/mobile/src/donationWorkflow/createUpdateDonation/Donation.tsx
Labels: mobile

#312 Hotfix/cancel request payload
  clients/mobile/src/components/button/Button.tsx
  clients/mobile/src/components/donation/PostCard.tsx
  clients/mobile/src/components/donation/Posts.tsx
  clients/mobile/src/components/modal/index.tsx
  clients/mobile/src/donationWorkflow/donationService.ts
  clients/mobile/src/myActivity/myPosts/details/Detail.tsx
  clients/mobile/src/myActivity/useMyActivity.ts
Labels: mobile

#316 I-#NO-TICKET hide phone number until the request has been accepted.
  clients/mobile/src/donationWorkflow/donationPosts/donorResponse/UI/ResponseDonationRequest.tsx
Labels: mobile

#323 I-#NO-TICKET Donation post update bug fix and redirect screen changed
  clients/mobile/app.json
  clients/mobile/package-lock.json
  clients/mobile/package.json
  clients/mobile/src/donationWorkflow/createUpdateDonation/useBloodRequest.ts
  clients/mobile/src/myActivity/MyActivityTab.tsx
Labels: mobile
