Repository CraftsmenLtd/BloodConnect, pull requests merged in 2025-01, with the labels that each got.

#330 I-#326 cancel badge showing on post details and my activity page
  clients/mobile/src/components/badge/index.tsx
  clients/mobile/src/components/donation/PostCard.tsx
  clients/mobile/src/components/donation/StatusBadge.tsx
  clients/mobile/src/donationWorkflow/types.ts
  clients/mobile/src/myActivity/MyActivityTab.tsx
  clients/mobile/src/myActivity/myPosts/details/Detail.tsx
  clients/mobile/src/myActivity/useMyActivity.ts
Labels: mobile

#332 I-#326 add profile page scroll issue
  clients/mobile/src/components/multiSelect/index.tsx
  clients/mobile/src/userWorkflow/personalInfo/UI/AddPersonalInfo.tsx
Labels: mobile

#337 I-#326 height removed from header and modal opacity issue fixed.
  clients/mobile/src/components/modal/index.tsx
  clients/mobile/src/setup/navigation/BottomNavigation.tsx
  clients/mobile/src/setup/navigation/Navigator.tsx
  clients/mobile/src/setup/theme/darkTheme.ts
  clients/mobile/src/setup/theme/index.ts
  clients/mobile/src/setup/theme/lightTheme.ts
Labels: mobile

#355 I-#NO-TICKET status badge color issue fix
  clients/mobile/App.tsx
  clients/mobile/app.json
  clients/mobile/src/components/badge/index.tsx
  clients/mobile/src/components/donation/PostCard.tsx
  clients/mobile/src/components/donation/StatusBadge.tsx
  clients/mobile/src/donationWorkflow/donationHelpers.ts
  clients/mobile/src/donationWorkflow/donationPosts/donorResponse/hooks/useResponseDonationRequest.ts
  clients/mobile/src/donationWorkflow/types.ts
  clients/mobile/src/myActivity/useMyActivity.ts
  clients/mobile/src/userWorkflow/context/UserProfileContext.tsx
Labels: mobile

#362 I-#NO-TICKET logic changed for how we're handling the phone number hidden works
  clients/mobile/src/donationWorkflow/donationPosts/donorResponse/UI/ResponseDonationRequest.tsx
Labels: mobile

#387 I-#342-email templates are redesigned to follow brand guidelines and text fallback support added too.
  core/application/tests/userWorkflows/userMessages.test.ts
  core/application/userWorkflow/userMessages.ts
  core/application/utils/messageConstants.ts
Labels: enhancement

#393 I-#360-searching enabled in city dropdown
  clients/mobile/src/components/inputElement/Dropdown.tsx
  clients/mobile/src/donationWorkflow/createUpdateDonation/Donation.tsx
Labels: mobile

#401 Add View Details button in My Responses page to redirect to details page with seeker's contact information
  clients/mobile/src/myActivity/MyActivityTab.tsx
  clients/mobile/src/myActivity/myPosts/details/Detail.tsx
  clients/mobile/src/myActivity/useMyActivity.ts
  clients/mobile/src/setup/navigation/navigationTypes.ts
  core/services/aws/bloodDonation/acceptDonationRequest.ts
  openapi/integration/aws/donations/vtl/responseTemplates/get-responses.vtl
Labels: enhancement

#402 Fix Location Search Drop-Down
  clients/mobile/src/components/multiSelect/index.tsx
  clients/mobile/src/donationWorkflow/createUpdateDonation/useBloodRequest.ts
  clients/mobile/src/setup/constant/consts.ts
  clients/mobile/src/userWorkflow/personalInfo/UI/AddPersonalInfo.tsx
  clients/mobile/src/utility/validator.ts
Labels: bug, Blockers
